In [1]:
import pandas as pd

In [2]:
accidents = pd.read_json("accidents.json")

In [24]:
beats = pd.read_csv("ChicagoAreasBeatDistricts.csv")
beats

     Beat  District  Community Area
0    2432        24               1
1    2423        24               1
2    2424        24               1
3    2422        24               1
4    2431        24               1
..    ...       ...             ...
501  2022        20              77
502  2023        20              77
503  2013        20              77
504  2012        20              77
505  2013        25              77

[506 rows x 3 columns]

In [25]:
beats_clean = beats.drop_duplicates(subset='Beat', keep="first")
beats_clean

     Beat  District  Community Area
0    2432        24               1
1    2423        24               1
2    2424        24               1
3    2422        24               1
4    2431        24               1
..    ...       ...             ...
496  1652        16              76
497  1655        16              76
501  2022        20              77
502  2023        20              77
503  2013        20              77

[274 rows x 3 columns]

In [5]:
accidents.rename(columns={"beat_of_occurrence": "Beat"}, inplace = True)

In [6]:
accidents.describe

<bound method NDFrame.describe of                                           crash_record_id  \
0       1d0b6295ed8ecc52585b2c4825eee723fd51ca4fc1c0bc...
1       1791a96fc83772d013a94af00f6315603b4337bdd1204c...
2       3f0ea94406089fb36fe862cdd019d9f217af7331faab61...
3       ea3a052cacc9082647e8cf74049eb0fe4e8a70af10c397...
4       96bf92e29f4efdc665fa74bcc8db3cb7bcac076cc1d6be...
...                                                   ...
446280  964aaaeb569e364886cfbdf89ca73e09ca15cd916d87b2...
446281  1d0232afecbdfd01968555aa956a688fd6f55a2bd1984f...
446282  957783a4787318f005a7dbc920e4c84cb9ac8aa7329a62...
446283  f62e27317feb174811cf4fefeb9fa1064fea6c0619a873...
446284  a802658be15312809c771559e4f81088cfb226830792a5...

                     crash_date  posted_speed_limit traffic_control_device  \
0       2020-10-10T01:23:00.000                  30         TRAFFIC SIGNAL
1       2020-10-10T01:15:00.000                  30         TRAFFIC SIGNAL
2       2020-10-10T00:35:00.000                  30         TRAFFIC SIGNAL
3       2020-10-09T23:40:00.000                  25            NO CONTROLS
4       2020-10-09T23:10:00.000                  30         TRAFFIC SIGNAL
...                         ...                 ...                    ...
446280  2014-06-25T19:00:00.000                  30            NO CONTROLS
446281  2014-02-24T19:45:00.000                  30         TRAFFIC SIGNAL
446282  2014-01-21T07:40:00.000                  30                  YIELD
446283  2014-01-18T18:14:00.000                  30            NO CONTROLS
446284  2013-03-03T16:48:00.000                  30         TRAFFIC SIGNAL

            device_condition weather_condition      lighting_condition  \
0       FUNCTIONING PROPERLY             CLEAR  DARKNESS, LIGHTED ROAD
1       FUNCTIONING PROPERLY           UNKNOWN  DARKNESS, LIGHTED ROAD
2                    UNKNOWN             CLEAR  DARKNESS, LIGHTED ROAD
3                NO CONTROLS             CLEAR  DARKNESS, LIGHTED ROAD
4       FUNCTIONING PROPERLY             CLEAR  DARKNESS, LIGHTED ROAD
...                      ...               ...                     ...
446280           NO CONTROLS              RAIN                DAYLIGHT
446281  FUNCTIONING PROPERLY              RAIN                DAYLIGHT
446282           NO CONTROLS             CLEAR                DAYLIGHT
446283           NO CONTROLS             CLEAR                    DUSK
446284  FUNCTIONING PROPERLY             CLEAR                DAYLIGHT

                    first_crash_type                  trafficway_type  \
0                              ANGLE                   T-INTERSECTION
1                           REAR END                         FOUR WAY
2           SIDESWIPE SAME DIRECTION                         FOUR WAY
3               PARKED MOTOR VEHICLE                      NOT DIVIDED
4           SIDESWIPE SAME DIRECTION  DIVIDED - W/MEDIAN (NOT RAISED)
...                              ...                              ...
446280      SIDESWIPE SAME DIRECTION                      NOT DIVIDED
446281                       TURNING                      NOT DIVIDED
446282                         ANGLE  DIVIDED - W/MEDIAN (NOT RAISED)
446283          PARKED MOTOR VEHICLE       DIVIDED - W/MEDIAN BARRIER
446284  SIDESWIPE OPPOSITE DIRECTION                      NOT DIVIDED

                 alignment  ... crash_date_est_i private_property_i  \
0       STRAIGHT AND LEVEL  ...             None               None
1       STRAIGHT AND LEVEL  ...             None               None
2       STRAIGHT AND LEVEL  ...             None               None
3       STRAIGHT AND LEVEL  ...             None               None
4       STRAIGHT AND LEVEL  ...             None               None
...                    ...  ...              ...                ...
446280  STRAIGHT AND LEVEL  ...             None               None
446281  STRAIGHT AND LEVEL  ...             None               None
446282  STRAIGHT AND LEVEL  ...             None               None
446283  STRAIGHT AND LEVEL  ...             None               None
446284  STRAIGHT AND LEVEL  ...             None               None

       photos_taken_i work_zone_i work_zone_type statements_taken_i dooring_i  \
0                None        None           None               None      None
1                None        None           None               None      None
2                None        None           None               None      None
3                None        None           None               None      None
4                None        None           None               None      None
...               ...         ...            ...                ...       ...
446280           None        None           None               None      None
446281           None        None           None               None      None
446282           None        None           None               None      None
446283           None        None           None               None      None
446284           None        None           None               None      None

       workers_present_i     rd_no  lane_cnt
0                   None      None       NaN
1                   None      None       NaN
2                   None      None       NaN
3                   None      None       NaN
4                   None      None       NaN
...                  ...       ...       ...
446280              None  JC321679       NaN
446281              None  HZ164689       NaN
446282              None  HZ122950       NaN
446283              None  JB442550       NaN
446284              None  JC172482       2.0

[446285 rows x 49 columns]>

In [7]:
accidents_clean = accidents.drop(columns=['crash_record_id', 'location', 'injuries_unknown', 'injuries_incapacitating', 'injuries_fatal', 'injuries_no_indication', 'injuries_reported_not_evident', 'injuries_non_incapacitating', 'private_property_i', 'crash_date_est_i', 'statements_taken_i', 'photos_taken_i', 'work_zone_i', 'work_zone_type', 'workers_present_i', 'dooring_i'])

In [8]:
accidents_clean.drop(columns=['crash_hour', 'crash_day_of_week', 'crash_month', 'traffic_control_device', 'posted_speed_limit', 'device_condition'], inplace=True)

In [9]:
accidents_clean.drop(columns=['first_crash_type', 'trafficway_type', 'weather_condition', 'num_units'], inplace=True)

In [10]:
accidents_clean.drop(columns=['alignment', 'lighting_condition', 'roadway_surface_cond', 'road_defect', 'report_type', 'crash_type', 'intersection_related_i', 'damage'], inplace=True)

In [11]:
accidents_clean.rename(columns={"beat_of_occurrence": "Beat"}, inplace = True)

In [12]:
accidents_clean.drop(columns=['date_police_notified', 'prim_contributory_cause', 'sec_contributory_cause', 'street_direction'], inplace=True)

In [13]:
accidents_clean.drop(columns=['most_severe_injury', 'injuries_total', 'rd_no', 'lane_cnt'], inplace=True)

In [14]:
accidents_clean

,crash_date,street_no,street_name,Beat,latitude,longitude,hit_and_run_i
0,2020-10-10T01:23:00.000,3500,KEDZIE AVE,911.0,41.829775,-87.704754,None
1,2020-10-10T01:15:00.000,3200,GRAND AVE,1121.0,41.898423,-87.706616,Y
2,2020-10-10T00:35:00.000,1601,69TH ST,735.0,41.768441,-87.663957,Y
3,2020-10-09T23:40:00.000,1730,DEVON AVE,2432.0,41.998135,-87.673347,None
4,2020-10-09T23:10:00.000,5600,NORTH AVE,2531.0,41.909488,-87.765777,None
...,...,...,...,...,...,...,...
446280,2014-06-25T19:00:00.000,3132,PULASKI RD,1031.0,41.835886,-87.724474,Y
446281,2014-02-24T19:45:00.000,199,SACRAMENTO BLVD,1222.0,41.884016,-87.701143,None
446282,2014-01-21T07:40:00.000,7400,EXCHANGE AVE,334.0,41.760710,-87.561946,None
446283,2014-01-18T18:14:00.000,415,LAKE ST,121.0,41.885610,-87.638756,None
446284,2013-03-03T16:48:00.000,3200,FOSTER AVE,1712.0,41.975857,-87.708744,Y

In [28]:
merged_clean = pd.merge(accidents_clean, beats_clean, on='Beat', how='inner')
merged_clean

,crash_date,street_no,street_name,Beat,latitude,longitude,hit_and_run_i,District,Community Area
0,2020-10-10T01:23:00.000,3500,KEDZIE AVE,911.0,41.829775,-87.704754,None,9,30
1,2020-10-07T21:21:00.000,3300,CALIFORNIA AVE,911.0,41.833668,-87.695072,None,9,30
2,2020-10-07T10:30:00.000,3500,KEDZIE AVE,911.0,41.829775,-87.704754,None,9,30
3,2020-10-07T08:05:00.000,3855,WESTERN AVE,911.0,41.823147,-87.684750,None,9,30
4,2020-10-07T07:40:00.000,3859,WESTERN AVE,911.0,41.823051,-87.684746,None,9,30
...,...,...,...,...,...,...,...,...,...
446274,2018-08-09T17:45:00.000,2,TERMINAL ST,1652.0,NaN,NaN,None,16,76
446275,2018-08-02T21:45:00.000,2,TERMINAL ST,1652.0,NaN,NaN,None,16,76
446276,2018-07-16T05:40:00.000,2,TERMINAL ST,1652.0,NaN,NaN,None,16,76
446277,2018-07-10T07:10:00.000,2,TERMINAL ST,1652.0,NaN,NaN,None,16,76
446278,2018-06-14T03:50:00.000,2,TERMINAL ST,1652.0,NaN,NaN,None,16,76

In [18]:
accidents

,crash_record_id,crash_date,posted_speed_limit,traffic_control_device,device_condition,weather_condition,lighting_condition,first_crash_type,trafficway_type,alignment,...,crash_date_est_i,private_property_i,photos_taken_i,work_zone_i,work_zone_type,statements_taken_i,dooring_i,workers_present_i,rd_no,lane_cnt
0,1d0b6295ed8ecc52585b2c4825eee723fd51ca4fc1c0bc...,2020-10-10T01:23:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,T-INTERSECTION,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
1,1791a96fc83772d013a94af00f6315603b4337bdd1204c...,2020-10-10T01:15:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,UNKNOWN,"DARKNESS, LIGHTED ROAD",REAR END,FOUR WAY,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
2,3f0ea94406089fb36fe862cdd019d9f217af7331faab61...,2020-10-10T00:35:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,FOUR WAY,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
3,ea3a052cacc9082647e8cf74049eb0fe4e8a70af10c397...,2020-10-09T23:40:00.000,25,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
4,96bf92e29f4efdc665fa74bcc8db3cb7bcac076cc1d6be...,2020-10-09T23:10:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446280,964aaaeb569e364886cfbdf89ca73e09ca15cd916d87b2...,2014-06-25T19:00:00.000,30,NO CONTROLS,NO CONTROLS,RAIN,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,JC321679,NaN
446281,1d0232afecbdfd01968555aa956a688fd6f55a2bd1984f...,2014-02-24T19:45:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,HZ164689,NaN
446282,957783a4787318f005a7dbc920e4c84cb9ac8aa7329a62...,2014-01-21T07:40:00.000,30,YIELD,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,HZ122950,NaN
446283,f62e27317feb174811cf4fefeb9fa1064fea6c0619a873...,2014-01-18T18:14:00.000,30,NO CONTROLS,NO CONTROLS,CLEAR,DUSK,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,JB442550,NaN
446284,a802658be15312809c771559e4f81088cfb226830792a5...,2013-03-03T16:48:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,SIDESWIPE OPPOSITE DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,JC172482,2.0